[submodule "lib/xtensor"]
	path = lib/xtensor
	url = https://github.com/xtensor-stack/xtensor.git
[submodule "lib/xtl"]
	path = lib/xtl
	url = https://github.com/xtensor-stack/xtl.git
[submodule "lib/xtensor-blas"]
	path = lib/xtensor-blas
	url = https://github.com/xtensor-stack/xtensor-blas.git
